@charset "utf-8";
/*
*author:jonyguan#2015中国国际消费电子博览会
*date:2015/04/24
*/
/*reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {margin:0;padding:0;}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video,img {display: block;}
body {font-size: 62.5%;font-family:Helvetica,STHeiti,Droid Sans Fallback;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea {resize: none;}
iframe,img {border:0;}
ul,ol {list-style:none;}
input,select,textarea {outline: 0;-webkit-user-modify: read-write-plaintext-only;}
input {-webkit-appearance: none;}
a{text-decoration: none;}
body{background: #fff; font-family:"Microsoft YaHei";}
hr{height:1px; background:#ccc; border:none;}
h2{font-size: 1em;}

.fl{float: left;}
.fr{float: right;}
.dis{display: block;}
.undis{display: none;}
.clb{clear:both;}
.m-t-10{margin-top:10px;}
.m-b-10{margin-bottom:10px;}
.m-l-10{margin-left:10px;}
.m-r-10{margin-right:10px;}
.p-t-10{padding-top:10px;}
.p-b-10{padding-bottom:10px;}
.p-l-10{padding-left:10px;}
.p-r-10{padding-right:10px;}
.m-t-20{margin-top:20px;}
.m-b-20{margin-bottom:20px;}
.m-l-20{margin-left:20px;}
.m-r-20{margin-right:20px;}
.p-t-20{padding-top:20px;}
.p-b-20{padding-bottom:20px;}
.p-l-20{padding-left:20px;}
.p-r-20{padding-right:20px;}
